<html ng-app="RecognitionApp">
  <head>
    <title>Face Recognition</title>
    <meta charset="UTF-8">
    <script src="{{ url_for('static', filename='angularjs.js') }}"></script>
    <script src="{{ url_for('static', filename='angular-route.js') }}"></script>
    <script src="{{ url_for('static', filename='ngStorage.min.js') }}"></script>
    <script src="{{ url_for('static', filename='uiMask.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-3.3.7.Glyphicons.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='angularjs/main.js') }}"></script>
    <script src="{{ url_for('static', filename='angularjs/configs/routes.js') }}"></script>
    <script src="{{ url_for('static', filename='angularjs/factories/cameraConfig.js') }}"></script>
    <script src="{{ url_for('static', filename='angularjs/directives/rgBreadcrumb.js') }}"></script>
    <script src="{{ url_for('static', filename='angularjs/controllers/indexController.js') }}"></script>
    <script src="{{ url_for('static', filename='angularjs/controllers/userController.js') }}"></script>
    <script src="{{ url_for('static', filename='angularjs/controllers/recognizerController.js') }}"></script>
    <script src="{{ url_for('static', filename='angularjs/controllers/configController.js') }}"></script>
  </head>
  <body ng-controller="IndexController as ic">
    <header class="container backgroundColorBlak">
      <a id="linkTittle" href="#" ng-click="stopCam()"><p class="programTittle">FACE RECOGNITION</p></a>
    </header>
    <div id="main" class="container">
      <div>
          <ng-view></ng-view>
      </div>
    </div>
  </body>
</html>